version: '3.9'
services:
  mongodb:
    container_name: mongodb
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${ROOT_PASSWORD}
    ports:
      - ${PORT}:${PORT}
    volumes:
      - mongodb_data_container:/data/db

volumes:
  mongodb_data_container:
